# Pip Requirement File
# Install it with pip install -r .requirements.txt
#
# Note:
# The azure SDK is currently taken from the development branch
# See .travis.script for details. We can switch using azure from
# pip once Microsoft has released the new version which is planned
# to happen in August 2015
#
# azure
#
pep8
python-dateutil
docopt
APScheduler
pyliblzma
coverage
pyOpenSSL
requests
